<h2>Show view</h2>

<ul>

  <li>
    <strong>View count:</strong>
    <%= @view.view_count %>
  </li>

  <li>
    <strong>Movie:</strong>
    <%= @view.movie_id %>
  </li>

</ul>

<%= link "Edit", to: view_path(@conn, :edit, @view) %>
<%= link "Back", to: view_path(@conn, :index) %>
